.winner-heart {
  height: 15px;
  margin-top: 4px;
  margin-right: 2px;
}
/* 
.content {
  display: flex;
} */
.ui.ordered.horizontal.list {
    /* border: 1px solid #999; */
    /* padding-left: 30%; */
    align-items: center;
    display: flex;
    justify-content: center;
}

.item {
    align-items: center;
}

.ui.avatar.image {
    width: 50px;
    border-radius: 50%;
}

/*-------------------
       Ordered
--------------------*/

ol.ui.list,
.ui.ordered.list,
.ui.ordered.list .list,
ol.ui.list ol {
  counter-reset: ordered;
  margin-left: 1.25rem;
  list-style-type: none;
  
}
ol.ui.list li,
.ui.ordered.list .list > .item,
.ui.ordered.list > .item {
  list-style-type: none;
  position: relative;
}
ol.ui.list li:before,
.ui.ordered.list .list > .item:before,
.ui.ordered.list > .item:before {
  position: absolute;
  top: auto;
  left: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  margin-left: -1.25rem;
  counter-increment: ordered;
  content: counters(ordered, ".") " ";
  text-align: right;
  color: rgba(0, 0, 0, 0.87);
  vertical-align: middle;
  opacity: 0.8;
}
ol.ui.inverted.list li:before,
.ui.ordered.inverted.list .list > .item:before,
.ui.ordered.inverted.list > .item:before {
  color: rgba(255, 255, 255, 0.7);
}

/* Value */
.ui.ordered.list > .list > .item[data-value],
.ui.ordered.list > .item[data-value] {
  content: attr(data-value);
}
ol.ui.list li[value]:before {
  content: attr(value);
}

/* Child Lists */
ol.ui.list ol,
.ui.ordered.list .list {
  margin-left: 1em;
}
ol.ui.list ol li:before,
.ui.ordered.list .list > .item:before {
  margin-left: -2em;
}

/* Horizontal Ordered */
ol.ui.horizontal.list,
.ui.ordered.horizontal.list {
  margin-left: 0em;
}
ol.ui.horizontal.list li:before,
.ui.ordered.horizontal.list .list > .item:before,
.ui.ordered.horizontal.list > .item:before {
  position: static;
  margin: 0em 0.5em 0em 0em;
}


/*******************************
            Content
*******************************/


/* List Item */


/* Child List */

/* Child Item */


/* Icon */


/* Image */


/* Content */


/* Header */
.ui.list .list > .item .header,
.ui.list > .item .header {
  display: block;
  margin: 0em;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}


/*-------------------
      Horizontal
--------------------*/

.ui.horizontal.list {
    display: inline-block;
    font-size: 0em;
  }
  .ui.horizontal.list > .item {
    display: inline-block;
    margin-left: 1em;
    font-size: 1rem;
  }
  .ui.horizontal.list:not(.celled) > .item:first-child {
    margin-left: 0em !important;
    padding-left: 0em !important;
  }
  .ui.horizontal.list .list {
    padding-left: 0em;
    padding-bottom: 0em;
  }
  .ui.horizontal.list > .item > .image,
  .ui.horizontal.list .list > .item > .image,
  .ui.horizontal.list > .item > .icon,
  .ui.horizontal.list .list > .item > .icon,
  .ui.horizontal.list > .item > .content,
  .ui.horizontal.list .list > .item > .content {
    vertical-align: middle;
    display: inline-table;
    padding-inline-start: 3px;
  }
  
  /* Padding on all elements */
  .ui.horizontal.list > .item:first-child,
  .ui.horizontal.list > .item:last-child {
    padding-top: 0.21428571em;
    padding-bottom: 0.21428571em;
  }
  
  /* Horizontal List */
  .ui.horizontal.list > .item > i.icon {
    margin: 0em;
    padding: 0em 0.25em 0em 0em;
  }
  .ui.horizontal.list > .item > .icon,
  .ui.horizontal.list > .item > .icon + .content {
    float: none;
    display: inline-block;
  }
  
  
  
  /* Horizontal List */
  .ui.horizontal.list > .item > i.icon {
    margin: 0em;
    padding: 0em 0.25em 0em 0em;
  }
  .ui.horizontal.list > .item > .icon,
  .ui.horizontal.list > .item > .icon + .content {
    float: none;
    display: inline-block;
  }
  
  